body{width:1366px;height:1300px;margin:0%;padding:0%;}
      #top{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:1366px;
      	height:191px;
        background:url(/statics/registerFolder/top.png) no-repeat;
        top:0px;
        left:0px;
      }
      #backimage1{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:180px;
      	height:422px;
      	background:url(/statics/registerFolder/backimage11.png) no-repeat;
      	top:219px;
      	left:286px;
      }
      #backimage2{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:180px;
      	height:257px;
      	background:url(/statics/registerFolder/backimage21.png) no-repeat;
      	top:660px;
      	left:287px;
      }
      #input1{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:220px;
      }
      #input2{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:312px;
      }
      #input3{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:410px;
      }
      #input4{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:500px;
      }
      #input5{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:665px;
      }
      #input6{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:297px;
      	height:50px;
      	background:url(/statics/registerFolder/input.png) no-repeat;
      	left:465px;
      	top:760px;
      }
      #biginput{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:618px;
      	height:214px;
      	background:url(/statics/registerFolder/biginput.png) no-repeat;
      	left:465px;
      	top:850px;
      }
      #uN{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:226px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input1_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:240px;
        height:36px;
        left:805px;
        top:222px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #pW{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:318px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input2_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:300px;
        height:36px;
        left:805px;
        top:316px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #rP{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:416px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input3_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:300px;
        height:36px;
        left:805px;
        top:415px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #nN{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:506px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input4_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:300px;
        height:36px;
        left:805px;
        top:505px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #sN{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:671px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input5_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:300px;
        height:36px;
        left:805px;
        top:670px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #pN{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:281px;
      	height:36px;
      	left:474px;
      	top:766px;
      	outline:none;
      	border:0px;
      	font-size:15px;
      	font-family:"微软雅黑";
      }
      #input6_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:300px;
        height:36px;
        left:805px;
        top:765px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
        display:none;
      }
      #it{
        position:absolute;
        margin:0%;
        padding:0%;
        width:597px;
        height:191px;
        left:476px;
        top:860px;
        outline:none;
        border:0px;
        font-size:25px;
        font-family:"微软雅黑";
      }
      #biginput_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:1085px;
        top:855px;
        font-size:18px;
        font-family:"微软雅黑";
        color:#cccccc;
      }
      #biginput_explain{
        position:absolute;
        margin:0%;
        padding:0%;
        width:180px;
        height:36px;
        left:1120px;
        top:855px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
        font-weight:bold;
        display:none;
      }
      #read{
        position:absolute;
        margin:0%;
        padding:0%;
        width:16px;
        height:17px;
        left:490px;
        top:1090px;
      }
      #detail{
        position:absolute;
        margin:0%;
        padding:0%;
        width:330px;
        height:17px;
        left:510px;
        top:1088px;
        border:0px;
        font-size:15px;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #sb{
        position:absolute;
        margin:0%;
        padding:0%;
        width:293px;
        height:43px;
        left:480px;
        top:1140px;
        border:0px;
        background:url(/statics/registerFolder/register.png);
      }
      #man{
        position:absolute;
        margin:0%;
        padding:0%;
        width:26px;
        height:26px;
        left:490px;
        top:592px;
      }
      #woman{
        position:absolute;
        margin:0%;
        padding:0%;
        width:26px;
        height:26px;
        left:560px;
        top:592px;
      }
      #keepsecret{
      position:absolute;
        margin:0%;
        padding:0%;
        width:26px;
        height:26px;
        left:630px;
        top:592px;
      }
      #manf{
        position:absolute;
        margin:0%;
        padding:0%;
        width:26px;
        height:26px;
        left:525px;
        top:588px;
        border:0px;
        font-size:23px;
        font-family:"微软雅黑";
      }
      #womanf{
        position:absolute;
        margin:0%;
        padding:0%;
        width:26px;
        height:26px;
        left:595px;
        top:588px;
        border:0px;
        font-size:23px;
        font-family:"微软雅黑";
      }
      #keepsecretf{
        position:absolute;
        margin:0%;
        padding:0%;
        width:52px;
        height:26px;
        left:665px;
        top:588px;
        border:0px;
        font-size:23px;
        font-family:"微软雅黑";
      }
      #input1_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:222px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
      #input2_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:316px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
      #input3_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:415px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
      #input4_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:505px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
      #input5_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:670px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
      #input6_p{
        position:absolute;
        margin:0%;
        padding:0%;
        width:30px;
        height:30px;
        left:770px;
        top:765px;
        font-size:18px;
        font-family:"微软雅黑";
        color:red;
      }
