<style>
     #all{
        display:block;
        position:relative;
        margin:0;
        width:100%;
        height:100%;
     }
     #boss1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0%;
        left:0%;
        height:45px;
        width:1366px;
        font-size:180%;
        background:url(top.png) no-repeat;
        
      }
     #boss2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:8px;
        left:45px;
        height:32px;
        width:280px;
        color:white;
        font-size:120%;
        font-weight:bolder;
        font-family:"微软雅黑";  
      }
     #boss3{
        margin:0px;
        padding:0%;
        position:absolute;
        top:8px;
        right:45px;
        height:30px;
        width:250px;
        text-align:right;
        font-size:120%;
        color:white;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #boss4{
        margin:0%;
        padding:0%;
        position:absolute;
        top:45px;
        left:0%;
        height:95px;
        width:1366px;
        background:url(boss4.png) no-repeat;
      }
      #boss10{
        margin:0px;
        padding:0%;
        position:absolute;
        top:180px;
        left:120px;
        height:277px;
        width:244px;
        background:url(left1.png);
      }
      #boss101{
        margin:0px;
        padding:0%;
        position:absolute;
        top:5%;
        left:22%;
      }
      #boss102{
        margin:0px;
        padding:0%;
        position:absolute;
        top:17%;
        left:22%;
        
      }
      #boss103{
        margin:0px;
        padding:0%;
        position:absolute;
        top:29%;
        left:22%;
      }
      #boss104{
        margin:0px;
        padding:0%;
        position:absolute;
        top:41%;
        left:22%;
      }
      #user{
        margin:0px;
        padding:0%;
        position:absolute;
        height:277px;
        width:614px;
        top:180px;
        left:400px;
        outline-width: 0px;
        background:rgb(221,231,231);
      }
      #condition{
        margin:0px;
        padding:0%;
        position:absolute;
        height:23px;
        width:200px;
        top:0px;
        left:30px;
        font-family:"微软雅黑";
        color:green;
        font-size:20px;
        font-weight:bold;
      }
      #title{
        margin:0px;
        padding:0%;
        position:absolute;
        height:32px;
        width:600px;
        top:50px;
        left:30px;
        font-family:"微软雅黑";
        color:#979797;
        font-size:15px;
        font-weight:bold;
      }
      #email{
        margin:0px;
        padding:0%;
        position:absolute;
        height:32px;
        width:600px;
        top:80px;
        left:30px;
        font-family:"微软雅黑";
        color:#979797;
        font-size:15px;
        font-weight:bold;
      }
</style>
