<style>
     .login{}
     #all{
        display:block;
        position:relative;
        margin:0;
        width:100%;
        height:100%;
     }
     #boss1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0%;
        left:0%;
        height:45px;
        width:1366px;
        font-size:180%;
        background:url(/statics/frameworkFolder/top.png) no-repeat;
        
      }
     #boss2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:8px;
        left:45px;
        height:32px;
        width:280px;
        color:white;
        font-size:120%;
        font-weight:bolder;
        font-family:"微软雅黑";  
      }
     #boss3{
        margin:0px;
        padding:0%;
        position:absolute;
        top:8px;
        left:1070px;
        height:30px;
        width:250px;
        font-size:120%;
        color:white;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #boss4{
        margin:0%;
        padding:0%;
        position:absolute;
        top:45px;
        left:0%;
        height:95px;
        width:1366px;
        background:url(/statics/frameworkFolder/boss4.png) no-repeat;
      }
      #boss5{
        margin:0px;
        padding:0%;
        position:absolute;
        top:140px;
        left:0%;
        height:80px;
        width:1366px;
        background:white;
        border-bottom:1px solid black;
      }
      #boss6{
        margin:0px;
        padding:0%;
        position:absolute;
        top:148px;
        left:120px;
        height:60px;
        width:155px;
        border:0px;
      }
      #boss7{
        margin:0px;
        padding:0%;
        position:absolute;
        height:58px;
        width:144px;
        top:150px;
        left:350px;
      }
      #boss8{
        margin:0px;
        padding:0%;
        position:absolute;
        top:155px;
        left:1000px;
        height:46px;
        width:294px;
        background:url(/statics/frameworkFolder/搜索框.png);
      }
      #boss91{
        margin:0px;
        padding:0%;
        position:absolute;
        top:10px;
        left:5%;
        height:32px;
        width:200px;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss92{
        margin:0%;
        padding:0%;
        position:absolute;
        width:51px;
        height:37px;
        top:5px;
        left:237px;
        background-image:url(/statics/frameworkFolder/boss54.png);
        border:0px;
        outline:none;
        cursor:pointer;
      }
      #boss10{
        margin:0px;
        padding:0%;
        position:absolute;
        top:250px;
        left:120px;
        height:277px;
        width:244px;
        background:url(/statics/frameworkFolder/left1.png);
      }
      #boss101{
        margin:0px;
        padding:0%;
        position:absolute;
        top:5%;
        left:22%;
      }
      #boss102{
        margin:0px;
        padding:0%;
        position:absolute;
        width:113px;
        height:26px;
        top:17%;
        left:21%;
        
      }
      #boss103{
        margin:0px;
        padding:0%;
        position:absolute;
        top:32%;
        left:25%;
      }
      #boss104{
        margin:0px;
        padding:0%;
        position:absolute;
        top:46%;
        left:23%;
      }
      #boss105{
        margin:0px;
        padding:0%;
        position:absolute;
        top:59%;
        left:21.5%;
      }
      #boss106{
        margin:0px;
        padding:0%;
        position:absolute;
        top:74%;
        left:22%;
      }
      #boss11{
        margin:0px;
        padding:0%;
        position:absolute;
        height:52px;
        width:472px;
        background:url(/statics/frameworkFolder/choice.png);
        top:250px;
        left:400px;
      }
      #boss111{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:45px;
        height:33px;
        width:59px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;

      }
      #boss112{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:158px;
        height:33px;
        width:59px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss113{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:268px;
        height:33px;
        width:58px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss114{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:375px;
        height:33px;
        width:58px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss12{
        margin:0px;
        padding:0%;
        position:absolute;
        height:412px;
        width:179px;
        top:250px;
        left:1050px;
        background:url(/statics/frameworkFolder/part3.png);
      }
      #boss121{
        margin:0px;
        padding:0%;
        position:absolute;
        height:18px;
        width:15px;
        top:5%;
        left:20%;
      }
      #boss122{
        margin:0px;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:4%;
        left:55px;
        font-family:"微软雅黑";
		    color:#979797;
        font-size:120%;
      }
      #boss123{
        margin:0px;
        padding:0%;
        position:absolute;
        height:50px;
        width:179px;
        top:0%;
        left:0%;
        background:;
        border-bottom:1px dashed black;

      }
      #task_p{
        margin:0px;
        padding:0%;
        position:absolute;
        height:188px;
        width:614px;
        top:350px;
        left:400px;
        background:#F3F3F3;
      }
      #condition{
        margin:0px;
        padding:0%;
        position:absolute;
        height:23px;
        width:67px;
        top:15px;
        left:30px;
        font-family:"微软雅黑";
        color:green;
        font-size:20px;
        font-weight:bold;
      }
      #title{
        margin:0px;
        padding:0%;
        position:absolute;
        height:32px;
        width:200px;
        top:3px;
        left:120px;
        font-family:"微软雅黑";
        color:#979797;
        font-size:30px;
        font-weight:bold;
      }
      #taskowner_l{
        margin:0px;
        padding:0%;
        position:absolute;
        height:20px;
        width:50px;
        top:15px;
        left:410px;
        font-family:"微软雅黑";
        color:red;
        font-size:10px;
        font-weight:bold;
      }
      #taskowner{
        margin:0px;
        padding:0%;
        position:absolute;
        height:20px;
        width:55px;
        top:7px;
        left:460px;
        font-family:"微软雅黑";
        color:red;
        font-size:18px;
        font-weight:bold;
      }
      #task_time{
        margin:0px;
        padding:0%;
        position:absolute;
        height:20px;
        width:70px;
        top:15px;
        left:530px;
        font-family:"微软雅黑";
        color:red;
        font-size:10px;
        font-weight:bold;
      }
      #task_dscb{
        margin:0px;
        padding:0%;
        position:absolute;
        height:72px;
        width:450px;
        top:60px;
        left:80px;
        font-family:"微软雅黑";
        color:red;
        font-size:18px;
        font-weight:bold;
        background:;
      }
      #task_b{
        margin:0px;
        padding:0%;
        position:absolute;
        height:30px;
        width:60px;
        top:150px;
        left:450px;
        font-family:"微软雅黑";
        color:red;
        font-size:20px;
        font-weight:bold;
      }
       #task_money{
        margin:0px;
        padding:0%;
        position:absolute;
        height:40px;
        width:60px;
        top:142px;
        left:500px;
        font-family:"微软雅黑";
        color:red;
        font-size:30px;
        font-weight:bold;
      }
      #display{
        margin:0%;
        padding:0%;
        position:absolute;
        height:100%;
        width:1366px;
        top:0px;
        left:0px;
        background:#CCCCCC;
        opacity:0.4;
        display:none;
      }
      #publish{
        margin:0%;
        padding:0%;
        position:absolute;
        height:558px;
        width:700px;
        top:50%;
        left:50%;
        margin-left:-350px;
        margin-top:-279px;
        background:white;
        border:1px solid blue;
        display:none;
      }
      #publish_right{
        margin:0%;
        padding:0%;
        position:absolute;
        height:399px;
        width:106px;
        background:url(/statics/frameworkFolder/right.png);
        top:30px;
        left:50px;
      }
      #publish_input1{
        margin:0%;
        padding:0%;
        position:absolute;
        height:38px;
        width:290px;
        background:url(/statics/frameworkFolder/title.png);
        top:28px;
        left:170px;
      }
      #publish_top{
        margin:0%;
        padding:0%;
        position:absolute;
        height:399px;
        width:106px;
        background:;
        height:34px;
        width:280px;
        top:30px;
        left:175px;
        font-size:20px;
        border:0px;
        outline:none;
      }
      #publish_top{
        margin:0%;
        padding:0%;
        position:absolute;
        height:399px;
        width:106px;
        background:;
        height:34px;
        width:280px;
        top:30px;
        left:175px;
        font-size:20px;
        border:0px;
        outline:none;
      }
      #option{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:38px;
        left:480px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #description{
        margin:0%;
        padding:0%;
        position:absolute;
        height:191px;
        width:485px;
        top:100px;
        left:171px;
        background:url(/statics/frameworkFolder/dscb.png);
      }
      #dscb{
        margin:0%;
        padding:0%;
        position:absolute;
        height:180px;
        width:477px;
        top:105px;
        left:173px;
        font-family:"微软雅黑";
        font-size:20px;
        border:0px;
        outline:none;
      }
      #uploadfile{
        margin:0%;
        padding:0%;
        position:absolute;
        top:300px;
        left:175px;
      }
      #money_picture{
        margin:0%;
        padding:0%;
        position:absolute;
        height:51px;
        width:278px;
        background:url(/statics/frameworkFolder/money.png);
        top:350px;
        left:385px;
      }
      #offer_reward{
        margin:0%;
        padding:0%;
        position:absolute;
        height:30px;
        width:59px;
        top:360px;
        left:455px;
        outline:none;
        border:0px;
        font-size:20px;
        font-family:"微软雅黑";
      }
      #cash_pledge{
        margin:0%;
        padding:0%;
        position:absolute;
        height:30px;
        width:59px;
        top:360px;
        left:589px;
        outline:none;
        border:0px;
        font-size:20px;
        font-family:"微软雅黑";
      }
      #option_year{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:402px;
        left:165px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #option_mouth{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:402px;
        left:310px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #option_day{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:402px;
        left:450px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #option_hour{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:450px;
        left:165px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #option_minute{
        margin:0%;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:450px;
        left:310px;
        font-weight:bold;
        font-family:"微软雅黑";
      }
      #sumit{
        margin:0%;
        padding:0%;
        position:absolute;
        height:43px;
        width:294px;
        top:500px;
        left:200px;
        font-size:150%;
        color:white;
        background-color:#5FF571;
        border:0px;
      }
      #exit{
        margin:0%;
        padding:0%;
        position:absolute;
        height:30px;
        width:100px;
        top:520px;
        left:580px;
        font-size:;
        color:white;
        background-color:#5FF571;
        border:0px;
      }
      #classify{
        display:none;
      }
      #task_condition{
        display:none;
      }
</style>
