#divbg
        {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 999;
            top: 0px;
            left: 0px;
            filter: alpha(opacity=50);
            opacity: 0.5;
            background-color: #AAAAAA;
        }
        #diveditcontent
        {
            width: 630px;
            height: 150px;
            position: absolute;
            z-index: 1000;
            background-color: #444444;
        }
        #divheader
        {
            width: 100%;
            height: 25px;
            background-color: #BB5500;
        }