<style>
	a{

	}
	body{
		width:1366px;
		margin:0 auto;
		padding:0px;
	}
	img{
		float:left;
	}
	.plane{
		margin-top:50px;
		margin-left:220px;
	}
	.login-area{
		width:620px;
		height:630px;
		float:left;
	}
	.username-box{
		margin-top:110px;
		width:620px;
		height:60px;
		float:left;
	}
	.username-box p1{
		margin-top:10px;
		font-size:28px;
		float:left;
		color:black;
	}
	.username-box input{
		width:300px;
		height:50px;
		outline:none;
		border-radius:10px;
		border:3px solid;
		border-color:rgb(174,174,174);
		float:left;
		font-size:21px;
	}
	.error-username{
		display:none;
		float:left;
		width:235px;
		height:50px;
	}
	.error-username img{
		float:left;
		margin-top:10px;
		margin-left:5px;
	}
	.error-username p2{
		color:red;
		float:left;
		margin-left:5px;
		margin-top:15px;
		font-size:18px;
		width:195px;
	}
	.password-box{
		margin-top:20px;
		width:620px;
		height:60px;
		float:left;
	}
	.password-box p1{
		margin-top:10px;
		font-size:28px;
		float:left;
		color:black;
	}
	.password-box input{
		width:300px;
		height:50px;
		outline:none;
		border-radius:10px;
		border:3px solid;
		border-color:rgb(174,174,174);
		float:left;
	}
	.error-password{
		display:none;
		float:left;
		width:235px;
		height:50px;
	}
	.error-password img{
		float:left;
		margin-top:10px;
		margin-left:5px;
	}
	.error-password p2{
		color:red;
		float:left;
		margin-left:5px;
		margin-top:15px;
		font-size:18px;
		width:195px;
	}
	.checkbox{
		padding-left:160px;
		margin:0px;
		margin-top:36px;		
		width:620px;
		height:40px;
		float:left;
	}
	.checkbox img{
		float:left;
	}
	.checkbox p1{
		margin-top:5px;
		margin-left:5px;
		margin-right:20px;
		position:relative;
		float:left;
		font-size:18px;
	}
	.sta-checked-one{
		display:none;
	}
	.sta-checked-two{
		display:none;
	}
	#btn-login{
		cursor:pointer;
		margin-top:40px;
		margin-left:90px;
	}
	.register{
		margin-top:40px;
		padding-left:265px;
		width:620px;
		height:30px;
		float:left;
		font-size:15px;
	}
	.register a{
		color:rgb(147,248,158);
		text-decoration:none;
	}
</style>