     #all{
        display:block;
        position:absolute;
        margin:0;
        width:100%;
        height:100%;
     }
     #boss1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0px;
        left:0px;
        height:45px;
        width:1366px;
        font-size:180%;
        background:url(/statics/taskdetails/top.png) no-repeat;
        
      }
     #boss2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:8px;
        left:45px;
        height:32px;
        width:280px;
        color:white;
        font-size:120%;
        font-weight:bolder;
        font-family:"微软雅黑";  
      }
     #boss3{
        margin:0px;
        padding:0%;
        position:absolute;
        top:8px;
        right:45px;
        height:30px;
        width:250px;
        text-align:right;
        font-size:120%;
        color:white;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #boss4{
        margin:0%;
        padding:0%;
        position:absolute;
        top:45px;
        left:0%;
        height:95px;
        width:1366px;
        background:url(/statics/taskdetails/boss4.png) no-repeat;
      }
      #main_picture{
        margin:0%;
        padding:0%;
        position:absolute;
        top:200px;
        left:150px;
        height:665px;
        width:787px;
        background:url(/statics/taskdetails/main.png) no-repeat;
      }
      #back{
        margin:0%;
        padding:0%;
        position:absolute;
        top:160px;
        left:153px;
        height:30px;
        width:80px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #task_details_word{
        margin:0%;
        padding:0%;
        position:absolute;
        top:160px;
        left:230px;
        height:30px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #title{
        margin:0%;
        padding:0%;
        position:absolute;
        top:10px;
        left:30px;
        height:57px;
        width:500px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:45px;
      }
      #taskowner_l{
        margin:0%;
        padding:0%;
        position:absolute;
        top:10px;
        left:560px;
        height:28px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:25px;
      }
      #taskowner{
        margin:0%;
        padding:0%;
        position:absolute;
        top:10px;
        left:660px;
        height:28px;
        width:100px;
        color:rgb(0,153,204);
        font-family:"微软雅黑";
        font-size:25px;
      }
      #task_time{
        margin:0%;
        padding:0%;
        position:absolute;
        top:50px;
        left:560px;
        height:25px;
        width:150px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:20px;
      }
      #task_b{
        margin:0%;
        padding:0%;
        position:absolute;
        top:85px;
        left:5px;
        height:30px;
        width:60px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:20px;
      }
      #task_money_symbol1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:85px;
        left:60px;
        height:25px;
        width:10px;
        color:rgb(204,51,51);
        font-family:"微软雅黑";
        font-size:20px;
      }
      #task_money1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:70px;
        left:80px;
        height:60px;
        width:120px;
        color:rgb(204,51,51);
        font-family:"微软雅黑";
        font-size:35px;
      }
      #task_p{
        margin:0%;
        padding:0%;
        position:absolute;
        top:85px;
        left:190px;
        height:30px;
        width:60px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:20px;
      }
      #task_money_symbol2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:85px;
        left:245px;
        height:25px;
        width:10px;
        color:rgb(204,51,51);
        font-family:"微软雅黑";
        font-size:20px;
      }
      #task_money2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:70px;
        left:270px;
        height:60px;
        width:120px;
        color:rgb(204,51,51);
        font-family:"微软雅黑";
        font-size:35px;
      }
      #time_clock{
        margin:0%;
        padding:0%;
        position:absolute;
        top:100px;
        left:400px;
        height:131px;
        width:142px;
        background:url(/statics/taskdetails/time.png);
      }
     #time1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:150px;
        left:550px;
        height:60px;
        width:150px;
        color:rgb(254,167,63);
        font-family:"微软雅黑";
        font-size:40px;
     }
     #time2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:150px;
        left:680px;
        height:60px;
        width:50px;
        color:rgb(254,167,63);
        font-family:"微软雅黑";
        font-size:40px;
     }
     #time_time{
        margin:0%;
        padding:0%;
        position:absolute;
        top:132px;
        left:635px;
        height:80px;
        width:50px;
        color:rgb(254,167,63);
        font-family:"微软雅黑";
        font-size:60px;
     }
     #task_dscb{
        margin:0%;
        padding:0%;
        position:absolute;
        top:300px;
        left:0px;
        height:177px;
        width:739px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
     }
     #file_word{
        margin:0%;
        padding:0%;
        position:absolute;
        top:480px;
        left:0px;
        height:50px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
     }
     #button{
        margin:0%;
        padding:0%;
        position:absolute;
        font-size:25px;
        color:white;
        background-color:#5FF571;
        height:50px;
        width:139px;
        border:0px;
        top:570px;
        left:570px;
     }
     #hiscondition{
        margin:0%;
        padding:0%;
        position:absolute;
        height:225px;
        width:272px;
        top:-20px;
        left:785px;
        background:url(/statics/taskdetails/information.jpg);
     }
     #lv{
        margin:0%;
        padding:0%;
        position:absolute;
        top:78px;
        left:140px;
        height:30px;
        width:50px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:26px; 
     }
     #publish_task{
        margin:0%;
        padding:0%;
        position:absolute;
        top:120px;
        left:140px;
        height:30px;
        width:50px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:26px; 
     }
     #get_task{
        margin:0%;
        padding:0%;
        position:absolute;
        top:160px;
        left:140px;
        height:30px;
        width:50px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:26px; 
     }
     #disc_word{
        margin:0%;
        padding:0%;
        position:absolute;
        top:670px;
        left:-20px;
        height:30px;
        width:100px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:22px;
     }
     #disc{
        margin:10px;
        padding:0%;
        position:absolute;
        top:700px;
        left:-30px;
        height:107px;
        width:787px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
        border-bottom:1px solid black;
     }
     #discuss{
        margin:0%;
        padding:0%;
        position:absolute;
        font-size:25px;
        color:white;
        background-color:#5FF571;
        height:50px;
        width:139px;
        border:0px;
        top:850px;
        left:580px;
     }
     #disc_people{
        margin:0%;
        padding:0%;
        position:absolute;
        top:5px;
        left:60px;
        height:30px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
     }
     #disc_time{
        margin:0%;
        padding:0%;
        position:absolute;
        top:80px;
        left:680px;
        height:30px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:18px;
     }
     #disc_content{
        margin:0%;
        padding:0%;
        position:absolute;
        top:40px;
        left:100px;
        height:30px;
        width:585px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
     }
