      #all{
        margin:0;
        width:1366px;
        position:relative;
        display:block;
      }
      #head{
      	position:absolute;
      	margin:0%;
        padding:0%;
        width:1366px;
        height:95px;
        top:0px;
        left:0px;
        background:url(/statics/loginFolder/head.png);
      }
      #loginpicture{
      	position:absolute;
      	margin:0%;
      	padding:0px;
      	width:497px;
      	height:490px;
      	top:140px;
      	left:220px;
      	background:url(/statics/loginFolder/picture.png);
      }
      #login{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:369px;
        height:347px;
        top:190px;
        left:717px;
        
      }
      #loginframework{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:369px;
        height:163px;
        top:0px;
        left:0px;
        background:url(/statics/loginFolder/login.png);
      }
      #usrName{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	height:38px;
      	width:275px;
      	top:29px;
      	left:76px;
      	font-size:20px;
        border:none;
        height:38px;
        outline:none;
        font-family:"微软雅黑";
        font-weight:none;
      }
      #passWord{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	height:38px;
      	width:275px;
      	top:98px;
      	left:76px;
        font-size:20px;
        border:none;
        outline:none;
        font-family:"微软雅黑";
        font-weight:none;
      }
      #pw{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:18px;
      	height:18px;
      	top:173px;
      	left:188px;
      	font-size:125%;
      }
       #lg{
        position:absolute;
        margin:0%;
        padding:0%;
        width:18px;
        height:18px;
        top:173px;
        left:278px;
        font-size:125%;
      }
      #reps{
        position:absolute;
        height:20px;
        width:70px;
        top:170px;
        left:208px;
        font-family:"微软雅黑";
      }
      #autolo{
        position:absolute;
        height:20px;
        width:70px;
        top:170px;
        left:298px;
        font-family:"微软雅黑";
      }
      #sub{
        position:absolute;
        margin:0%;
        padding:0%;
        width:294px;
        height:43px;
        top:230px;
        left:67px;
        font-family:"微软黑体";
        color:white;
        background-color:#5FF571;
        height:43px;
        width:294;
        border:0px;
      }
      #register{
        position:absolute;
        margin:0%;
        padding:0%;
        width:130px;
        height:10px;
        top:300px;
        left:257px;
        font-weight:bold;
        font-size:80%;
      }
      #dengluf{
        position:absolute;
        margin:0%;
        padding:0%;
        height:30px;
        width:30px;
        top:223px;
        left:1080px;
        background:url(/statics/loginFolder/1.jpg);
        display:none;
      }
      #denglut{
        position:absolute;
        margin:0%;
        padding:0%;
        height:30px;
        width:30px;
        top:295px;
        left:1080px;
        background:url(/statics/loginFolder/1.jpg);
        display:none;
      }
      #empty{
        position:absolute;
        margin:0%;
        padding:0%;
        height:30px;
        width:250px;
        top:223px;
        left:1110px;
        color:red;
        font-family:"微软黑体";
        font-weight:bold;
        text-align:center;
        line-height:35px;
        display:none;
      }
      #usrname_false{
        position:absolute;
        margin:0%;
        padding:0%;
        height:30px;
        width:250px;
        top:223px;
        left:1110px;
        color:red;
        font-family:"微软黑体";
        font-weight:bold;
        text-align:center;
        line-height:35px;
        display:none;
      }
      #password_false{
        position:absolute;
        margin:0%;
        padding:0%;
        height:30px;
        width:200px;
        top:295px;
        left:1120px;
        color:red;
        font-family:"微软黑体";
        font-weight:bold;
        text-align:center;
        line-height:35px;
        display:none;
      }
