     #all{
        display:block;
        position:relative;
        margin:0;
        width:100%;
        height:100%;
     }
     #boss1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0%;
        left:0%;
        height:45px;
        width:1366px;
        font-size:180%;
        background:url(top.png) no-repeat;
        
      }
     #boss2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:8px;
        left:45px;
        height:32px;
        width:280px;
        color:white;
        font-size:120%;
        font-weight:bolder;
        font-family:"微软雅黑";  
      }
     #boss3{
        margin:0px;
        padding:0%;
        position:absolute;
        top:8px;
        right:45px;
        height:30px;
        width:250px;
        text-align:right;
        font-size:120%;
        color:white;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #boss4{
        margin:0%;
        padding:0%;
        position:absolute;
        top:45px;
        left:0%;
        height:95px;
        width:1366px;
        background:url(boss4.png) no-repeat;
      }
      #back{
        margin:0%;
        padding:0%;
        position:absolute;
        top:2px;
        left:0px;
        height:30px;
        width:80px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #word_usercenter{
        margin:0%;
        padding:0%;
        position:absolute;
        top:2px;
        left:80px;
        height:30px;
        width:100px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #container{
        margin:0%;
        padding:0%;
        position:absolute;
        top:160px;
        left:128px;
        height:33px;
        width:1108px;
        border-bottom:1px solid rgb(100,200,100);
      }
      #condition_p{
        margin:0%;
        padding:0%;
        position:absolute;
        top:194px;
        left:128px;
        height:582px;
        width:237px;
        background:url(left.png);
      }
      #my_information_input1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0px;
        left:0px;
        height:63px;
        width:237px;
        border-bottom:1px solid rgb(100,200,100);
        border-right:1px solid rgb(100,200,100);
      }
      #my_information{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0px;
        left:0px;
        height:63px;
        width:237px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:22px;
        text-align:center;
        line-height:63px;
      }
      #my_task_input2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:63px;
        left:0px;
        height:63px;
        width:237px;
        border-bottom:1px solid rgb(100,200,100);
        border-right:1px solid rgb(100,200,100);
      }
      #my_task{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0px;
        left:0px;
        height:63px;
        width:237px;
        color:rgb(100,200,100);
        font-family:"微软雅黑";
        font-size:22px;
        text-align:center;
        line-height:63px;
      }
      #main_task{
        margin:0%;
        padding:0%;
        position:absolute;
        top:194px;
        left:366px;
        height:547px;
        width:871px;
        display: none;
      }
      #task_published{
        margin:0%;
        padding:0%;
        position:absolute;
        top:41px;
        left:68px;
        height:32px;
        width:232px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #task_published_details{
        margin:0%;
        padding:0%;
        position:absolute;
        top:80px;
        left:100px;
        height:220px;
        width:645px;
        display:none;
      }
      #task_published_one{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_published_two{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_gotten{
        margin:0%;
        padding:0%;
        position:absolute;
        top:100px;
        left:68px;
        height:32px;
        width:232px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #task_gotten_details{
        margin:0%;
        padding:0%;
        position:absolute;
        top:140px;
        left:100px;
        height:220px;
        width:645px;
        display:none;
      }
      #task_gotton_one{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_gotton_two{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_done{
        margin:0%;
        padding:0%;
        position:absolute;
        top:159px;
        left:68px;
        height:32px;
        width:232px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #task_done_details{
        margin:0%;
        padding:0%;
        position:absolute;
        top:200px;
        left:100px;
        height:220px;
        width:645px;
        display:none;
      }
      #task_done_one{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_done_two{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_watch{
        margin:0%;
        padding:0%;
        position:absolute;
        top:218px;
        left:68px;
        height:32px;
        width:232px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:22px;
      }
      #task_watch_details{
        margin:0%;
        padding:0%;
        position:absolute;
        top:265px;
        left:100px;
        height:220px;
        width:645px;
        display:none;
      }
      #task_watch_one{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #task_watch_two{
        margin:5px;
        padding:0%;
        position:relative;
        top:0px;
        left:0px;
        height:62px;
        width:645px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        font-size:30px;
        line-height:62px;
      }
      #main_information{
        margin:0%;
        padding:0%;
        position:absolute;
        top:194px;
        left:366px;
        height:547px;
        width:871px;
        display:none;
      }
      #my_name{
        margin:0%;
        padding:0%;
        position:absolute;
        top:34px;
        left:112px;
        height:34px;
        width:539px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_email{
        margin:0%;
        padding:0%;
        position:absolute;
        top:90px;
        left:112px;
        height:34px;
        width:539px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_sex{
        margin:0%;
        padding:0%;
        position:absolute;
        top:148px;
        left:112px;
        height:34px;
        width:539px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_number{
        margin:0%;
        padding:0%;
        position:absolute;
        top:206px;
        left:112px;
        height:34px;
        width:539px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_phone{
        margin:0%;
        padding:0%;
        position:absolute;
        top:264px;
        left:112px;
        height:34px;
        width:539px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_introduce_w{
        margin:0%;
        padding:0%;
        position:absolute;
        top:322px;
        left:62px;
        height:34px;
        width:140px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
      #my_introduce{
        margin:0%;
        padding:0%;
        position:absolute;
        top:322px;
        left:185px;
        height:89px;
        width:700px;
        color:rgb(153,153,153);
        font-family:"微软雅黑";
        line-height:34px;
        font-size:25px;
      }
     