      #head{
      	position:absolute;
      	margin:0%;
        padding:0%;
        width:1366px;
        height:95px;
        top:0px;
        left:0px;
        background:url("head.png");
      }
      #loginpicture{
      	position:absolute;
      	margin:0%;
      	padding:0px;
      	width:497px;
      	height:490px;
      	top:140px;
      	left:290px;
      	background:url("picture.png");
      }
      #login{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:369px;
        height:347px;
        top:190px;
        left:787px;
        
      }
      #loginframework{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:369px;
        height:163px;
        top:0px;
        left:0px;
        background:url("login.png");
      }
      #usrName{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	height:38px;
      	width:275px;
      	top:29px;
      	left:76px;
      	font-size:30px;
        border:none;
        height:38px;
        outline:none;
      }
      #passWord{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	height:38px;
      	width:275px;
      	top:98px;
      	left:76px;
        font-size:30px;
        border:none;
        outline:none;
      }
      #pw{
      	position:absolute;
      	margin:0%;
      	padding:0%;
      	width:20px;
      	height:20px;
      	top:170px;
      	left:188px;
      	font-size:125%;
      }
       #lg{
        position:absolute;
        margin:0%;
        padding:0%;
        width:20px;
        height:20px;
        top:170px;
        left:278px;
        font-size:125%;
      }
      #reps{
        position:absolute;
        height:20px;
        width:70px;
        top:170px;
        left:208px;
      }
      #autolo{
         position:absolute;
        height:20px;
        width:70px;
        top:170px;
        left:298px;
      }
      #sub{
        position:absolute;
        margin:0%;
        padding:0%;
        width:294px;
        height:43px;
        top:230px;
        left:67px;
        font-size:;
        font-family:"微软黑体";
        color:white;
        background-color:#5FF571;
        height:43px;
        width:294;
        border:0px;
      }
      #register{
        position:absolute;
        margin:0%;
        padding:0%;
        width:130px;
        height:10px;
        top:300px;
        left:257px;
        font-weight:bold;
        font-size:80%;
      }
