<style>
     .login{}
     #all{
        display:block;
        position:relative;
        margin:0;
        width:100%;
        height:100%;
     }
     #boss1{
        margin:0%;
        padding:0%;
        position:absolute;
        top:0%;
        left:0%;
        height:45px;
        width:1366px;
        font-size:180%;
        background:url(top.png) no-repeat;
        
      }
     #boss2{
        margin:0%;
        padding:0%;
        position:absolute;
        top:8px;
        left:45px;
        height:32px;
        width:280px;
        color:white;
        font-size:120%;
        font-weight:bolder;
        font-family:"微软雅黑";  
      }
     #boss3{
        margin:0px;
        padding:0%;
        position:absolute;
        top:8px;
        left:1070px;
        height:30px;
        width:250px;
        font-size:120%;
        color:white;
        font-weight:bolder;
        font-family:"微软雅黑";
      }
      #boss4{
        margin:0%;
        padding:0%;
        position:absolute;
        top:45px;
        left:0%;
        height:95px;
        width:1366px;
        background:url(boss4.png) no-repeat;
      }
      #boss5{
        margin:0px;
        padding:0%;
        position:absolute;
        top:140px;
        left:0%;
        height:80px;
        width:1366px;
        background:white;
        border-bottom:1px solid black;
      }
      #boss6{
        margin:0px;
        padding:0%;
        position:absolute;
        top:148px;
        left:120px;
        height:60px;
        width:155px;
        border:0px;
      }
      #boss7{
        margin:0px;
        padding:0%;
        position:absolute;
        height:58px;
        width:144px;
        top:150px;
        left:350px;
      }
      #boss8{
        margin:0px;
        padding:0%;
        position:absolute;
        top:155px;
        left:1000px;
        height:46px;
        width:294px;
        background:url(搜索框.png);
      }
      #boss91{
        margin:0px;
        padding:0%;
        position:absolute;
        top:10px;
        left:5%;
        height:32px;
        width:200px;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss92{
        margin:0%;
        padding:0%;
        position:absolute;
        width:51px;
        height:37px;
        top:5px;
        left:237px;
        background-image:url(boss54.png);
        border:0px;
        outline:none;
        cursor:pointer;
      }
      #boss10{
        margin:0px;
        padding:0%;
        position:absolute;
        top:250px;
        left:120px;
        height:277px;
        width:244px;
        background:url(left1.png);
      }
      #boss101{
        margin:0px;
        padding:0%;
        position:absolute;
        top:5%;
        left:22%;
      }
      #boss102{
        margin:0px;
        padding:0%;
        position:absolute;
        width:113px;
        height:26px;
        top:17%;
        left:21%;
        
      }
      #boss103{
        margin:0px;
        padding:0%;
        position:absolute;
        top:32%;
        left:25%;
      }
      #boss104{
        margin:0px;
        padding:0%;
        position:absolute;
        top:46%;
        left:23%;
      }
      #boss105{
        margin:0px;
        padding:0%;
        position:absolute;
        top:59%;
        left:21.5%;
      }
      #boss106{
        margin:0px;
        padding:0%;
        position:absolute;
        top:74%;
        left:22%;
      }
      #boss11{
        margin:0px;
        padding:0%;
        position:absolute;
        height:52px;
        width:472px;
        background:url(choice.png);
        top:250px;
        left:400px;
      }
      #boss111{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:45px;
        height:33px;
        width:59px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;

      }
      #boss112{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:158px;
        height:33px;
        width:59px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss113{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:268px;
        height:33px;
        width:58px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss114{
        margin:0px;
        padding:0%;
        position:absolute;
        top:13px;
        left:375px;
        height:33px;
        width:58px;
        font-size:120%;
        font-family:"微软雅黑";
        color:#979797;
      }
      #boss12{
        margin:0px;
        padding:0%;
        position:absolute;
        height:412px;
        width:179px;
        top:250px;
        left:1050px;
        background:url(part3.png);
      }
      #boss121{
        margin:0px;
        padding:0%;
        position:absolute;
        height:18px;
        width:15px;
        top:5%;
        left:20%;
      }
      #boss122{
        margin:0px;
        padding:0%;
        position:absolute;
        height:28px;
        width:100px;
        top:4%;
        left:55px;
        font-family:"微软雅黑";
		    color:#979797;
        font-size:120%;
      }
      #boss123{
        margin:0px;
        padding:0%;
        position:absolute;
        height:50px;
        width:179px;
        top:0%;
        left:0%;
        background:;
        border-bottom:1px dashed black;

      }
      #display{
        margin:0%;
        padding:0%;
        position:absolute;
        height:100%;
        width:1366px;
        top:0px;
        left:0px;
        background:#CCCCCC;
        opacity:0.4;
        display:none;
      }
      #publish{
        margin:0%;
        padding:0%;
        position:absolute;
        height:558px;
        width:700px;
        top:50%;
        left:50%;
        margin-left:-350px;
        margin-top:-279px;
        background:white;
        border:1px solid blue;
        display:none;
      }
</style>
