<html>
  <head>
  	<title></title>
  	<meta charset="utf-8">
    <link rel="StyleSheet" href="/statics/frameworkFolder/framework.css" type="text/css">
    <style>
      a{text-decoration:none;}
      body{margin:0px;}

    </style>
  </head>
  <body>
    <script src="/statics/frameworkFolder/framework.js"></script>
    <div id="all">
  	<div id="boss1"></div>
    <div id="boss2">Welcome to MissionOffer</div>
    {% if usrname != ''%}
    <div id="boss3">
      <a href="/userCenter" class="login" style="color:white">{{usrname}}</a>/
      <a href="/logout" class="register" style="color:white">退出</a>
    </div>
    {%else%}
    <div id="boss3">
      <a href="/login" class="login" style="color:white">登陆</a>/
      <a href="/register" class="register" style="color:white">注册</a>
    </div>
    {%endif%}
    <div id="boss4"></div>
    <div id="boss5"></div>
    <div id="boss6">
      <a href="#" onclick="dp()"><img src="/statics/frameworkFolder/boss51.png"></a>
    </div>
    <div id="boss7">
      <a href="/userCenter"><img src="/statics/frameworkFolder/boss52.png"></a>
    </div>
    <div id="boss8">
        <form action="#" method="post">
        <input type="text" name="sreach" id="boss91" style="height:30px;width:200px;border:none;outline:none;" size="30">
        <input type="submit" name="sreach_bt" id="boss92" value=""/>
        </form>
    </div>
    <div id="boss10">
      <div id="boss101"><img src="/statics/frameworkFolder/all.png"></div>
      <div id="boss102"><a href="#" onclick="lost_p()"><img src="/statics/frameworkFolder/lost_pressed.png" id="boss1022"></a></div>
      <div id="boss103"><a href="#" onclick="ding_p()"><img src="/statics/frameworkFolder/dining.png" id="boss1033"></a></div>
      <div id="boss104"><a href="#" onclick="super_p()"><img src="/statics/frameworkFolder/super.png" id="boss1044"></a></div>
      <div id="boss105"><a href="#" onclick="print_p()"><img src="/statics/frameworkFolder/print.png" id="boss1055"></a></div>
      <div id="boss106"><a href="#" onclick="out_p()"><img src="/statics/frameworkFolder/out.png" id="boss1066"></a></div>
    </div>
    <div id="boss11">
      <div id="boss111"><a href="#" id="all_a" onClick="all_demo()" style="color:#979797;">全部</a></div>
      <div id="boss112"><a href="#" id="get_a" onClick="get_demo()" style="color:#979797;">待接受</a></div>
      <div id="boss113"><a href="#" id="ing_a" onClick="ing_demo()" style="color:#979797;">进行中</a></div>
      <div id="boss114"><a href="#" id="done_a" onClick="done_demo()" style="color:#979797;">已完成</a></div>
    </div>
    <div id="boss12">
      <div id="boss121"><img src="/statics/frameworkFolder/ranking.png"></div>
      <div id="boss122">荣誉排行榜</div>
      <div id="boss123"></div>
    </div>
    </div>
    <div id="display"></div>
    <div id="publish">
      <form action="#" method="post">
      <div id="publish_right"></div>
      <div id="publish_input1"></div>
      <input type="text" id="publish_top" size="25"/>
      <select name="task" id="option">
        <option>任务类型</option>
        <option value="1">寻找失物</option>
        <option value="2">食堂带饭</option>
        <option value="3">超市购物</option>
        <option value="4">文印中心</option>
        <option value="5">校外任务</option>
      </select>
      <div id="description"></div>
      <textarea id="dscb" name="dscription"></textarea>
      <input type="file" name="uploadfile" id="uploadfile" value=""/>
      <div id="money_picture"></div>
      <input type="text" id="offer_reward" name="offer_reward">
      <input type="text" id="cash_pledge" name="cash_pledge">
      <select name="year" id="option_year">
        <option value="0">年</option>
        <option value="1">2013</option>
        <option value="2">2014</option>
        <option value="3">2015</option>
      </select>
      <select name="mouth" id="option_mouth">
        <option value="0">月</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select name="day" id="option_day">
        <option value="0">日</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <select name="hour" id="option_hour">
        <option value="0">时</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
      </select>
      <select name="hour" id="option_minute">
        <option value="0">分</option>
        <option value="1">15</option>
        <option value="2">30</option>
        <option value="3">45</option>
      </select>
      <input type="submit" id="sumit" value="发布任务">
      </form>
      <input type="button" id="exit" value="关闭" onclick="pd()">
    </div>
  </body>
</html>
