<html>
  <head>
  	<title></title>
  	<meta charset="utf-8">
    <link rel="StyleSheet" href="/statics/frameworkFolder/framework.css" type="text/css">
    <style>
      a{text-decoration:none;}
      input{height:29px;border:none;outline:none;}
      body{margin:0px;}
    </style>
  </head>
  <body>
  	<div id="boss1"></div>
    <div id="boss2">Welcome to MissionOffer</div>
    {% if usrname != ''%}
      <div id="boss3">
        <a href="/userCenter"  style="color:white;font-family:微软雅黒;">{{usrname}}</a>/
        <a href="/logout"  style="color:white;font-family:微软雅黒;">退出</a>
      </div>
    {%else%}
      <div id="boss3">
        <a href="/login" class="login" style="color:white">登陆</a>/
        <a href="/register" class="register" style="color:white">注册</a>
      </div>
    {%endif%}
    <div id="boss4"></div>
    <div id="boss5"></div>
    <div id="boss6">
      <a href="#"><img src="/statics/frameworkFolder/boss51.png"></a>
    </div>
    <div id="boss7">
      <a href="#"><img src="/statics/frameworkFolder/boss52.png"></a>
    </div>
    <div id="boss8">
      <div id="boss92">
        <a href="#"><img src="/statics/frameworkFolder/search.png"></a>
      </div>
    </div>
    <div id="boss91">
      <input type="text" name="sreach" size="18">
    </div>
    <div id="boss10">
      <div id="boss101"><img src="/statics/frameworkFolder/all_pressed.png"></div>
      <div id="boss102"><a href="#"><img src="/statics/frameworkFolder/lost_pressed.png"></a></div>
      <div id="boss103"><a href="#"><img src="/statics/frameworkFolder/dining.png"></a></div>
      <div id="boss104"><a href="#"><img src="/statics/frameworkFolder/super.png"></a></div>
      <div id="boss105"><a href="#"><img src="/statics/frameworkFolder/print.png"></a></div>
      <div id="boss106"><a href="#"><img src="/statics/frameworkFolder/out.png"></a></div>
    </div>
    <div id="boss11">
      <div id="boss111"><a href="#" style="color:#979797;">全部</a></div>
      <div id="boss112"><a href="#" style="color:#979797;">进行中</a></div>
      <div id="boss113"><a href="#" style="color:#979797;">已完成</a></div>
    </div>
    <div id="boss12">
      <div id="boss121"><img src="/statics/frameworkFolder/ranking.png"></div>
      <div id="boss122">荣誉排行榜</div>
      <div id="boss123"></div>
    </div>

  </body>
</html>