<html>
  <head>
    <title>登陆</title>
    <meta charset="utf-8">
    <link rel="StyleSheet" href="/statics/loginstyle.css"/>
  </head>
  
  <body>
    <script src="/statics/login.js"></script>
    <div id="main">
      <table align="center" width="300" border="1" 
             cellpadding="2" cellspaceing="0">
        <caption align="center"><h2>登陆</h2></caption>
        <form action="#" method="post" onSubmit="return demo1()">
            <tr>
              <th>用户名：</th>
              <td><input type="text" id="usrName" name="usrname" size="20"></td>
            </tr>
          
            <tr>
              <th>密码：</th>
              <td><input type="password" name="password" size="20"></td>
            </tr>
            <tr>
             <td></td>
             <td>
              <input type="submit" name="login" value="登陆" onclick="demo()">
             </td>
            </tr>
        </form>
      </table>
    </div>
    
  </body>
</html>
