<html>
  <head>
    <title>login</title>
    <meta charset="utf-8">
    <link rel="StyleSheet" href="/statics/loginFolder/login.css" type="text/css">
    <style>
      body{margin:0%;}s
      a{text-decoration:none;}
    </style>
  </head>
  <body>
    <div id="head"></div>
    <div id="loginpicture"></div>
    <div id="login">
      <div id="loginframework"></div>
      <form action="#" method="post" style="height:280px;">
          <input type="text" id="usrName" name="usrname" size="25">
          <input type="password" id="passWord" name="password" size="25">
      	  <input type="checkbox" id="pw"><div id="reps">记住密码</div>
      	  <input type="checkbox" id="lg"><div id="autolo">自动登录</div>
        <div id="sub"><input type="submit" name="sb" value="登陆" style="font-size:150%;color:white;background-color:#5FF571;height:43px;width:294;border:0px;">
        </div>
      </form>
      <div id="register">没有账号？请<a href="#" style="color:#5FF571;">注册</a></div>
    </div>
  </body>
</html>