<html>
  <head>
  	<title>register framework</title>
    <meta charset="utf-8">
    <link rel="StyleSheet" href="registerstyle.css"/>
  </head>
  <body>
  	<div id="main">
  	  <table align="center" width="500" border="0" cellpadding="2" cellspaceing="0">
        <caption align="center"><h2>用户注册</h2></caption>
        <form action="#" method="post">
        <tr>
            <th>用户名：</th>
        	<td><input type="text" name="usrname" size="20"></td>
        </tr>
        <tr>
        	<th>性别：</th>
        	<td>
        		<input type="radio" name="sex" value="1">男
        		<input type="radio" name="sex" value="2">女
        		<input type="radio" name="sex" value="0">保密
        	</td>
        </tr>
        <tr>
        	<th>学历：</th>
        	<td>
        		<select name="edu">
        		<option>--请选择--</option>
        		<option value="1">高中</option>
        		<option value="2">专科</option>
        		<option value="3">本科</option>
        		<option value="4">研究生</option>
        		<option value="5">其他</option>
                </select>       	
        	<td>
        </tr>
        <tr>
        	<th>密码：</th>
        	<td><input type="password" name="password" size="20"></td>
        </tr>
        <tr>
        	<th>重复密码：</th>
        	<td><input type="password" name="repassword" size="20"></td>
        </tr>
        <tr>
        	<th>真实姓名：</th>
        	<td><input type="text" name="realname" size="20"></td>
        </tr>
        <tr>
        	<th>学号：</th>
        	<td><input type="text" name="idNumber" size="20"></td>
        </tr>
        <tr>
        	<th>邮箱：</th>
        	<td><input type="text" name="email" size="20"></td>
        </tr>
        <tr>
        	<th>手机号：</th>
        	<td><input type="text" name="phonenumber" size="20"></td>
        </tr>
        <tr>
        	<th>自我简介：</th>
        	<td><textarea name="eval" rows="4" cols="50"></textarea></td>
        </tr>
        <tr>
        	<td></td>
        	<td>
        		<input type="submit" name="submit" value="提交">
        		<input type="reset" name="reset" value="重置">
        	</td>
        </form>
      </table>
  	</div>
  </body>
</html>
