<html>
  <head>
  	<title></title>
  	<meta charset="utf-8">
    <link rel="StyleSheet" href="/statics/taskdetails/taskdetails.css" type="text/css">
    <style>
      a{text-decoration:none;}
      body{margin:0px;}
    </style>
  </head>
  <body>

    <div id="all">
  	<div id="boss1"></div>
    <div id="boss2">Welcome to MissinOffer</div>
    <div id="boss3">Username/<a href="#" class="register" style="color:white">登出</a></div>
    <div id="boss4"></div>
    <a href="#" id="back">主页&gt;&gt;</a>
    <div id="task_details_word">任务详情</div>
    <div id="main_picture">
      <div id="title">家乐福帮带洗衣粉<div>
      <div id="taskowner_l">悬赏人：</div>
      <div id="taskowner">叶良辰</div>
      <div id="task_time">2015-9-12</div>
      <div id="task_b">悬赏：</div>
      <div id="task_money_symbol1">￥</div>
      <div id="task_money1">50.00</div>
      <div id="task_p">押金：</div>
      <div id="task_money_symbol2">￥</div>
      <div id="task_money2">50.00</div>
      <div id="time_clock"></div>
      <div id="time1">剩余</div>
      <div id="time_time">4</div>
      <div id="time2">天</div>
      <div id="task_dscb">&nbsp;&nbsp;&nbsp;&nbsp;请到财富又一城的家乐福买两包立白洗衣粉，送到欣苑5栋男生公寓门口。</div>
      <div id="file_word">附件：</div>
      <input type="button" id="button" value="接受"><div>
    </div>
    <div id="hiscondition">
      <div id="lv">10</div>
      <div id="publish_task">20</div>
      <div id="get_task">0</div>
    </div>
    <div id="disc_word">任务讨论</div>
    <div id="disc">
      <div id="disc_people">王二麻</div>
      <div id="disc_time">2015-9-13</div>
      <div id="disc_content">自己去买</div>
    </div>
    <input type="button" id="discuss" value="评论"><div>
  </body>
</html>
